@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: var(--bg);
  --color-card-bg: var(--card-bg);

  --color-border: var(--border);
  --color-border-light: var(--color-slate-800);
  --color-border-dark: var(--color-slate-100);

  --color-text: var(--text);
  --color-text-light: var(--color-slate-800);
  --color-text-dark: var(--color-slate-100);
}

/* FOR LIGHT MODE */
:root {
  --bg: var(--color-green-50);
  --card-bg: var(--color-slate-100);
  --border: var(--color-border-light);
  --text: var(--color-text-light);
}

/* FOR DARK MODE */
.dark {
  /* This is just Tailwind's green-950, but darker */
  --bg: oklch(20.0% 0.065 152.934);
  --card-bg: #20252A;
  --border: var(--color-border-dark);
  --text: var(--color-text-dark);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* ELEMENT CLASSES */

.link {
  color: var(--color-cyan-800);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  transition: 0.03s ease-in-out;
}

.dark .link {
  color: var(--color-cyan-200);
}

.link:hover {
  color: var(--color-cyan-600);
  text-decoration-thickness: 2px;
}

.dark .link:hover {
  color: var(--color-cyan-400);
}

.link:active {
  color: var(--color-cyan-500);
  text-decoration-thickness: 3px;
}

.dark .link:active {
  color: var(--color-cyan-600);
}

.btn {
  align-items: center;
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: flex;
  font-size: var(--text-md);
  gap: 6px;
  height: fit-content;
  justify-content: center;
  padding: 12px 24px;
  transition: 0.02s ease-in-out;
}

.btn:active {
  transform: scale(0.97);
}

.btn-sm {
  gap: 4px;
  padding: 6px 12px;
}

.btn-primary {
  color: var(--color-text-dark);
  background-color: var(--color-green-950);
  border-color: var(--color-text-light);
}

.dark .btn-primary {
  background-color: var(--color-green-950);
  border-color: var(--color-text-dark);
}


.btn-primary:hover {
  background-color: var(--color-green-900);
}

.btn-primary:active {
  background-color: var(--color-green-800);
}

.btn-secondary {
  color: var(--color-text-light);
  background-color: var(--color-green-200);
  border-color: var(--color-border-light);
}

.btn-secondary:hover {
  background-color: var(--color-green-100);
}

.btn-secondary:active {
  background-color: var(--color-green-50);
}

.btn-tertiary {
  color: var(--color-text-light);
  background-color: var(--color-slate-100);
  border-color: var(--color-border-light);
}

.btn-tertiary:hover {
  background-color: var(--color-slate-50);
}

.btn-tertiary:active {
  background-color: var(--color-slate-200);
}

.card {
  background-color: var(--color-card-bg);
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-border);
  border-radius: var(--radius-3xl);
  padding: calc(var(--spacing) * 10);
}