{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Activity Buddy{% endblock %}</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=chat_bubble,dark_mode,fitness_center,light_mode,logout,menu,person,search" />

    {% load static %}
    <link rel="icon" href="{% static 'browsing/images/siteIcons/favicon.ico' %}" type="image/x-icon" sizes="any">
    <link rel="icon" href="{% static 'browsing/images/siteIcons/favicon16.png' %}" type="image/png" sizes="16x16">
    <link rel="icon" href="{% static 'browsing/images/siteIcons/favicon32.png' %}" type="image/png" sizes="32x32">
    <link rel="apple-touch-icon" href="{% static 'browsing/images/siteIcons/favicon180.png' %}" sizes="180x180">
    <link rel="manifest" href="{% static 'browsing/activitybuddy.webmanifest' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <script defer src="{% static 'browsing/javascript/navbar.js' %}"></script>
    <script defer src="{% static 'browsing/javascript/themeSwitcher.js' %}"></script>
    {% tailwind_css %}
    {% block extra_head %}{% endblock %}
</head>

<body class="text-text bg-bg py-4 sm:px-10 px-2 transition-bounce">
    <header class="sm:py-4 py-2 sm:px-10 px-2 fixed w-full top-0 left-0 transition-bounce" id="header">
        <nav class="grid sm:flex bg-slate-100 justify-between sm:items-center text-text-light sm:p-5 p-4 rounded-3xl border-2 border-slate-800 transition-bounce collapsed sm:h-24"
            id="navbar">
            <div class="flex justify-between items-center sm:w-fit w-full">
                <a class="flex flex-row gap-4 items-center h-full" href="/" title="Home">
                    <img src="{% static 'browsing/svg/logo-plain.svg' %}" class="h-8" alt="">
                    <span class="font-bold text-2xl">Activity Buddy</span>
                </a>
                <button class="btn btn-secondary sm:hidden!" id="bergieMenu">
                    <span class="material-symbols-outlined text-xl!">
                        menu
                    </span>
                </button>
            </div>
            <hr class="border-text-light!">
            <div class="flex sm:flex-row flex-col gap-2 h-full overflow-hidden" id="navbarLinks">
                {% if user.is_authenticated %}
                <form id="logout-csrf-form" class="hidden">
                {% csrf_token %}
                </form>
                <a id="logout-btn" href="logout" class="btn btn-tertiary sm:order-1 order-2">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    <span class="md:inline-block sm:hidden">Log out</span>

                </a>
                <a href="search" class="btn btn-secondary border-border-light order-1" title="Buddy Search">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                    <span class="lg:inline-block sm:hidden">Buddy Search</span>
                </a>
                <a href="messages" class="btn btn-secondary border-border-light order-1" title="Messages">
                    <span class="material-symbols-outlined">
                        chat_bubble
                    </span>
                    <span class="lg:inline-block sm:hidden">Messages</span>
                </a>
                <a href="user" class="btn btn-primary border-border-light order-1" title="Dashboard">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                    <span class="lg:inline-block sm:hidden">Dashboard</span>
                </a>
                {% else %}
                <a href="register" class="btn btn-primary border-border-light">Sign Up</a>
                <a href="login" class="btn btn-secondary">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main class="sm:min-h-[calc(100vh-348px)] inline-block w-full mb-8 mt-32">
        {% block content %}
        {% endblock %}
    </main>

    <footer
        class="card card-primary card-even-spacing sm:flex sm:gap-2 grid grid-cols-2 gap-y-8 gap-x-4 justify-between max-w-3xl mx-auto">
        <div class="sm:order-0 order-2">
            <p>&copy; 2026 Activity Buddy</p>
            <p class="text-xs text-text/40 dark:text-text/25">Designed by Morp Machine</p>
        </div>
        <ul class="sm:order-0 order-0">
            <li><a class="link" href="register">Sign Up</a></li>
            <li><a class="link" href="login">Login</a></li>
            <li><a class="link" href="">Buddy Search</a></li>
        </ul>
        <ul class="sm:order-0 order-1">
            <li><a class="link" href="">About Us</a></li>
        </ul>
        <button class="btn btn-sm btn-tertiary h-fit flex flex-row sm:order-0 order-3" id="switchThemeButton">
            <span class="material-symbols-outlined" id="switchThemeButtonIcon">
                light_mode
            </span>Switch Theme
        </button>
    </footer>
    <script src="{% static 'browsing/javascript/logout.js' %}"></script>
</body>
</html>
