{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Activity Buddy{% endblock %}</title>
    {% tailwind_css %}
    {% block extra_head %}{% endblock %}
    {% load static %}
    <script defer src="{% static 'browsing/javascript/navbar.js' %}"></script>
    <script defer src="{% static 'browsing/javascript/themeSwitcher.js' %}"></script>
</head>

<body class="text-text bg-bg py-4 px-10">
    <header
        class="py-4 px-10 fixed w-full top-0 left-0 transition-all duration-150 ease-[cubic-bezier(0.2,1.15,0.4,1.15)]"
        id="header">
        <nav
            class="flex flex-row items-center justify-between gap-2 bg-slate-100 text-text-light py-5 px-7 rounded-4xl h-20 border-2 border-slate-800">
            <a class="flex flex-row gap-4 items-center h-full" href="/">
                <img src="{% static 'browsing/svg/logo-plain.svg' %}" class="h-full" alt="">
                <span class="font-bold text-2xl">Activity Buddy</span>
            </a>
            <div class="flex gap-2">
                <a href="" class="btn btn-primary">Sign Up</a>
                <a href="" class="btn btn-secondary">Login</a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="card flex justify-between">
        <p>&copy; 2026 MORP Machine</p>
        <div>
            <label for="darkMode">Dark Mode</label>
            <button class="btn btn-sm btn-primary flex flex-row">
                <img src="{% static 'browsing/svg/icons/dark_mode_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg' %}"
                    alt="">
                Switch Theme
            </button>
            <input type="checkbox" id="darkMode" name="darkMode" class="toggle">
        </div>
    </footer>
</body>

</html>