{% extends 'browsing/base.html' %}
{% block title %}Chat{% endblock %}

{% block content %}
{% load static %}
{% load browsing_extras %}



<div class="container mx-auto">
  <section class="flex flex-col gap-8 items-center justify-center">

    <!-- ADD username of logged in user -->
    <h1>Welcome, {{ user.display_name }}!</h1>

    <!-- Most Recent Messages -->
    <div class="flex flex-col gap-6 card card-tertiary dark:card-primary text-center w-full max-w-6xl">
      <h2>Messages</h2>
      <div class="flex flex-col gap-4 md:flex-row md:gap-1">
        <div class="flex flex-col md:basis-xl lg:basis-md">

          {% for conn in connections %}
          <a href="/chat/{{ conn.id }}/">
          <div class="card card-primary card-sm dark:card-secondary flex flex-col
          {% if conn.is_selected %} bg-green-200 dark:bg-green-200 {% endif %}
          ">
            <div class="flex justify-between items-center">
              <p class="text-left font-bold text-lg">{{ conn.other_user.display_name }}</p>
          {% if conn.last_message %}
              <p class="text-right italic text-sm">
                {{ conn.last_message.timestamp|to_datetime|date:"F j, Y | g:i A" }}</p>
          {% endif %}
            </div>
              {% if conn.last_message %}
                <p class="text-left text-sm">{{ conn.last_message.text }}</p>
              {% else %}
                <p class="text-zinc-600 text-left italic text-sm">No messages yet.</p>
              {% endif %}
          </div>
          </a>
          {% endfor %}

        </div>
        <div class="flex flex-col w-full justify-between">
        <div id="message-body" class="flex flex-col card card-primary card-sm dark:card-tertiary">


          {% if active_connection == None %}

          <!-- No messages selected, or no messages -->
          {% if connections %}
           <p class="text-left">Select conversation to view messages.</p>
           {% else %}
           <p class="text-left">No messages. Search for a buddy and reach out to start a conversation.</p>
           {% endif %}           
          {% else %}

          {% if active_connection.messages %}
          <!-- Start loop: Selected message - for each line in message -->
            {% for msg in active_connection.messages %}
            <div class="flex justify-between items-center">
              <p class="text-left font-bold text-lg">
                {% if msg.sender == user.id %}
                    {{ user.display_name }}  
                {% else %}
                    {{ active_connection.other_user.display_name }}
                {% endif %}
                  </p>
                  <p class="text-right italic text-sm"> {{ msg.timestamp|to_datetime|date:"F j, Y | g:i A" }}</p>
                </div>
                <p class="text-left">{{ msg.text }}</p>
       
            {% endfor %}
             {% else %}
                <p class="text-zinc-600 text-left italic text-sm">No messages yet.</p>

          {% endif %}
        </div>
          
          <!-- Send Message -->
          {% if active_connection.can_send_messages %}
          <form method="POST" action="/connections/{{ active_connection.id }}/messages/send/" class="flex items-center">
            <input type="hidden" name="return_to" value="/chat/{{ active_connection.id }}/">
            {% csrf_token %}
            <input type="hidden" name="connection" value="{{ active_connection.id }}">
            <input type="hidden" name="sender" value="{{ user.id }}">
            <input type="hidden" name="receiver" value="{{active_connection.other_user.id}}">
            <textarea class="w-full card card-primary dark:card-secondary" name="text" rows="1" placeholder="Message..."></textarea>
            <button class="btn btn-secondary" type="submit">Send</button>
          </form>
          {% endif %}
        </div>
      </div>
      {% if active_connection.status == 'PENDING' %}
      <!-- IF CONNECTION STATUS IS PENDING ON ACTIVE CHAT -->
      <div class="flex flex-col gap-3 card card-primary lg:mx-60">
        <h3>Connection Pending</h3>
        <p>Accept to chat or Decline to remove.</p>
        <div class="flex justify-center gap-3">
          <form method="POST" action="/connections/{{ active_connection.id }}/" class="mt-2">
             {% csrf_token %}
             <input type="hidden" name="status" value="ACCEPTED">
             <button class="btn btn-primary">Accept</button>
           </form>
           <form method="POST"
                action="/connections/{{ active_connection.id }}/delete/"
                class="mt-2"
                onsubmit="return confirm('Are you sure you want to decline the connection?');">
            {% csrf_token %}
            <button class="btn btn-danger">Decline</button>
          </form>
        </div>
        {% endif %}

        <!-- END IF -->
        {% endif %}

      </div>
    </div>
  </section>
</div>
{% endblock %}