{% extends 'browsing/base.html' %}
{% block title %}It's the Home Page{% endblock %}

{% block content %}
{% load static %}


<div class="container mx-auto">
  <section class="flex flex-col gap-4 items-center justify-center">
    <div id="home-hero" class="px-4 max-w-140 w-full" style="margin-top:150px;">
      {% include 'browsing/svgs/logo-text-adaptive.html' %}
    </div>

    <!-- How it works -->
    <div id="home-how-it-works" class="card card-secondary m-4 text-center w-full max-w-6xl">
      <h2 class="mb-3 text-text-alt">Here's How It Works</h2>
      <div class="flex flex-col md:flex-row items-center">
        <div class="card card-tertiary flex-1 text-left">
          <h3>Step 1</h3>
          <p>This is step 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius et mauris id auctor.
            Nam sed eros egestas velit pretium imperdiet vel quis nunc.</p>
        </div>
        <div
          class="h-6 w-6 bg-green-200 dark:bg-green-100 border-4 border-border-light md:-ml-3 md:mt-0 -mt-3 rounded-full">
        </div>
        <div class="bg-border-alt w-0.5 h-8 md:h-0.5 md:w-auto md:basis-12 md:flex-none"></div>
        <div class="card card-tertiary flex-1 text-left">
          <h3>Step 2</h3>
          <p>This is step 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius et mauris id auctor.
            Nam sed eros egestas velit pretium imperdiet vel quis nunc.</p>
        </div>
        <div
          class="h-6 w-6 bg-green-200 dark:bg-green-100 border-4 border-border-light md:-ml-3 md:mt-0 -mt-3 rounded-full">
        </div>
        <div class="bg-border-alt w-0.5 h-8 md:h-0.5 md:w-auto md:basis-12 md:flex-none"></div>
        <div class="card card-tertiary flex-1 text-left">
          <h3>Step 3.</h3>
          <p>This is step 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius et mauris id
            auctor. Nam sed eros egestas velit pretium imperdiet vel quis nunc.</p>
        </div>
      </div>
    </div>

    <!-- Activities -->
    <div id="home-activities" class="m-4 text-center w-full max-w-7xl">
      <h2 class="mb-4">Choose Your Activities</h2>
      <div class="flex flex-col md:flex-row items-center justify-center">

        <!-- START: populate with activities from database -->
        <div class="card card-primary card-sm">
          <h3 class="mb-4">Gym</h3>
          <!-- Link to activity search page (should redirect to login if not logged in) -->
          <div class="flex items-center justify-center rounded-2xl bg-green-950 dark:bg-text-dark">
            <a href="#" class="m-3 flex items-center justify-center">
              <span class="material-symbols-outlined text-text-alt" style="font-size:48px;">fitness_center</span>
            </a>
          </div>
        </div>
        <!-- END: populate -->

      </div>
    </div>

    <!-- Get started -->
    <div id="home-get-started" class="card card-secondary m-6 text-center flex flex-col items-center">
      <h2>Ready to Get Started?</h2>
      <div class="flex flex-col md:flex-row">
        <a href="#" class="btn btn-tertiary m-3">Sign Up</a>
        <a href="#" class="btn btn-tertiary m-3">Log In</a>
      </div>
    </div>

  </section>
</div>
{% endblock %}