{% extends 'browsing/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="mx-auto max-w-4xl flex flex-col md:flex-row gap-10 justify-between items-center w-full">
    <div class="md:max-w-100 max-w-60 w-full">
        {% include 'browsing/svgs/logo-text-adaptive.html' %}
    </div>

    <form
        id="login-form"
        class="card card-tertiary dark:card-primary flex flex-col gap-4 max-w-100 w-full"
    >
        {% csrf_token %}

        <h1 class="text-center">Login</h1>

        <div
            id="login-error"
            class="hidden text-red"
            role="alert"
        ></div>

        <div class="flex flex-col">
            <label for="username">Username</label>
            <input
                class="input"
                id="username"
                type="text"
                name="username"
                placeholder="Username"
                required
            />
        </div>

        <div class="flex flex-col">
            <label for="password">Password</label>
            <input
                class="input"
                id="password"
                type="password"
                name="password"
                placeholder="Password"
                required
            />
        </div>

        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>

<script src="{% static 'browsing/javascript/login.js' %}"></script>

{% endblock %}