{% extends 'browsing/base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container mx-auto">
    <p>WIP! Will need:</p>
    <ul>
        <li>Username</li>
        <li>Password</li>
        <li>Email</li>
        <li>Profile Summary (placeholder: Tell buddies a bit about yourself...)</li>
        <li>Preference (example; TBD; create 2 identical Preferences fields for now) (placeholder: Select Preferences...)(Dropdown???)</li>
        <li>"Register" button</li>
    </ul>
</div>
{% endblock %}