{% extends 'browsing/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}

<div class="flex lg:flex-row flex-col gap-12 lg:justify-between max-w-5xl mx-auto">
    <div class="lg:fixed lg:w-96 flex flex-col gap-4 -z-10">
        <h2>Welcome to Activity Buddy!</h2>
        <p>
          Get started by adding some detail to the Profile Summary that will help prospective buddies understand who you are and what you're looking for in an activity buddy. 
        </p>
        <p>
          Add some details about your preferences and workout style so that prospective buddies with similar styles can find you. All details can be changed in your profile at any time. 
        </p>
        <p>
          Reminder: Preference details will be visible to all buddies.
        </p>
        <p>
          Once you're signed up, you can search for an activity buddy right away!
        </p>
    </div>
    <div class="hidden lg:block w-160"></div>
    <form id="register-form" action="" class="card card-tertiary card-xs sm:card-sm w-full flex flex-col sm:gap-8 gap-6 lg:mx-0 mx-auto">
        {% csrf_token %}
        <h1 class="text-center">Register</h1>
        <div
            id="register-error"
            class="hidden text-red"
            role="alert"
        ></div>
        <hr class="border-text-light!">
        <div class="flex flex-col gap-2">
            <div class="card card-primary border-border-light flex flex-col gap-4">
                <h2>Profile</h2>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col">
                        <label for="username">Username</label>
                        <input class="input" id="username" type="text" name="username" placeholder="Username" required/>
                    </div>

                    <div class="flex flex-col">
                        <label for="password">Password</label>
                        <input class="input" id="password" type="password" name="password" placeholder="Password" required/>
                    </div>

                    <div class="flex flex-col">
                        <label for="email">Email</label>
                        <input class="input" id="email" type="email" name="email" placeholder="Email" required/>
                    </div>

                    <div class="flex flex-col">
                        <label for="summary">Profile Summary</label>
                        <textarea class="input h-40" id="summary" type="summary" name="bio_text"
                            placeholder="Tell buddies a bit about yourself..." required></textarea>
                    </div>
                </div>
            </div>

            <div class="card card-primary border-border-light flex flex-col gap-4">
                <label for="experience">
                    <h2>Experience</h2>
                </label>
                <select class="input input-select" id="experience" type="experience" name="experience" required>
                    <option value="" selected>Select Experience level...</option>
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="advanced">Advanced</option>
                </select>
            </div>

            <div class="card card-primary border-border-light flex flex-col gap-4">
                <h2>Goals</h2>
                <div class="flex flex-col gap-2">
                    <div>
                        <input type="checkbox" id="goalBuildMuscle" name="goals" value="build_muscle" />
                        <label for="goalBuildMuscle">Build Muscle</label>
                    </div>
                    <div>
                        <input type="checkbox" id="goalWeightLoss" name="goals" value="weight_loss" />
                        <label for="goalWeightLoss">Weight Loss</label>
                    </div>
                    <div>
                        <input type="checkbox" id="goalGeneralFitness" name="goals" value="general_fitness" />
                        <label for="goalGeneralFitness">General Fitness</label>
                    </div>
                    <div class="col-span-2">
                        <input type="checkbox" id="goalStrengthTraining" name="goals" value="strength_training" />
                        <label for="goalStrengthTraining">Strength Training</label>
                    </div>
                    <div>
                        <input type="checkbox" id="goalPowerLifting" name="goals" value="powerlifting" />
                        <label for="goalPowerLifting">Powerlifting</label>
                    </div>
                    <div>
                        <input type="checkbox" id="goalBodyBuilding" name="goals" value="bodybuilding" />
                        <label for="goalBodyBuilding">Bodybuilding</label>
                    </div>
                </div>
            </div>

            <div class="card card-primary border-border-light flex flex-col gap-4">
                <h2>Training Style</h2>
                <div class="grid grid-cols-1 gap-y-2 gap-x-16 w-fit">
                    <div>
                        <input type="checkbox" id="trainWeightLifting" name="training" value="weightlifting" />
                        <label for="trainWeightLifting">Weightlifting</label>
                    </div>
                    <div>
                        <input type="checkbox" id="trainPowerLifting" name="training" value="powerlifting" />
                        <label for="trainPowerLifting">Powerlifting</label>
                    </div>
                    <div>
                        <input type="checkbox" id="trainBodyBuilding" name="training" value="bodybuilding" />
                        <label for="trainBodyBuilding">Bodybuilding</label>
                    </div>
                    <div>
                        <input type="checkbox" id="trainCrossFit" name="trainiing" value="crossfit" />
                        <label for="trainCrossFit">CrossFit</label>
                    </div>
                    <div>
                        <input type="checkbox" id="trainCardio" name="training" value="cardio" />
                        <label for="trainCardio">Cardio</label>
                    </div>
                    <div>
                        <input type="checkbox" id="trainFunctionalFitness" name="training" value="functional_fitness" />
                        <label for="trainFunctionalFitness">Functional Fitness</label>
                    </div>
                </div>
            </div>

            <div class="card card-primary border-border-light flex flex-col gap-4">
                <label for="goals">
                    <h2>Gym Frequency</h2>
                </label>
                <select id="frequency" class="input input-select" type="frequency" name="frequency" required>
                    <option value="" selected>Select Frequency...</option>
                    <option value="1_2">1-2 times/week</option>
                    <option value="3_4">3-4 times/week</option>
                    <option value="5_plus">5+ times/week</option>
                </select>
            </div>

            <div class="card card-primary border-border-light flex flex-col gap-4">
                <h2>Preferred Workout Time</h2>
                <div class="grid grid-cols-1 gap-y-2 gap-x-16 w-fit">
                    <div class="">
                        <input type="checkbox" id="earlyMorning" name="time" value="early_morning" />
                        <label for="earlyMorning">Early Morning</label>
                    </div>
                    <div>
                        <input type="checkbox" id="morning" name="time" value="morning" />
                        <label for="morning">Morning</label>
                    </div>
                    <div>
                        <input type="checkbox" id="afternoon" name="time" value="afternoon" />
                        <label for="afternoon">Afternoon</label>
                    </div>
                    <div class="">
                        <input type="checkbox" id="evening" name="time" value="evening" />
                        <label for="evening">Evening</label>
                    </div>
                    <div>
                        <input type="checkbox" id="lateNight" name="time" value="late_night" />
                        <label for="lateNight">Late Night</label>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary border-border-light">Register</button>
    </form>
</div>

<script src="{% static 'browsing/javascript/register.js' %}"></script>


{% endblock %}