{% extends 'browsing/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
{% load static %}
{% load browsing_extras %}


<div class="container mx-auto">
  <section class="flex flex-col gap-8 items-center justify-center">
    <h1>Welcome, {{ user.display_name }}!</h1>

    <!-- Most Recent Messages -->
    <div class="flex flex-col gap-6 card card-sm card-tertiary dark:card-primary text-center w-full max-w-6xl">
      <h2>Most Recent Messages</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
          {% if connections %}
            
            {% for conn in connections %}
              <div class="card card-primary card-sm dark:card-tertiary flex flex-col">
                <p class="text-left font-bold text-xl">{{ conn.other_user.display_name }}</p>
                {% if conn.last_message %} 
                <p class="text-left text-zinc-500">{{ conn.last_message.sender }}: {{ conn.last_message.text }}</p>
                {% else %}
                <p class="text-left text-zinc-500">No messages yet.</p>
                {% endif %}
                <p class="text-right text-zinc-500 italic text-sm">{{ conn.last_message.timestamp|date:"F j, Y | g:i A" }}</p>
              </div>
            {% endfor %}

          {% else %}
            <div class="card card-primary card-sm dark:card-tertiary md:col-span-2">
              <p>No messages. Search for a buddy and reach out to start a conversation.</p>
            </div>
          {% endif %}

        </div>
      <a class="btn btn-secondary mx-auto" href="chat">View All</a>
    </div>


    <!-- Start Activity Search -->
    <div class="flex flex-col gap-6 text-center w-full max-w-7xl">
      <h2>Start an Activity Search</h2>
      <div class="flex flex-col md:flex-row items-center justify-center">

        <div class="card card-primary card-sm">
          <h3>Gym</h3>
          <div class="flex items-center justify-center rounded-2xl bg-green-950 dark:bg-text-dark">
            <a href="/search" class="m-3 flex items-center justify-center">
              <span class="material-symbols-outlined text-text-alt" style="font-size:48px;">fitness_center</span>
            </a>
          </div>
        </div>
      </div>
    </div>


    <!-- Buddies -->
    <div class="text-center flex flex-col gap-6 w-full max-w-7xl">
      <h2>Buddies</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      {% if connections %}
        {% for conn in connections %}
          {% include 'browsing/components/user_card.html' with id=conn.other_user.id name=conn.other_user.display_name username=conn.other_user.username activities=conn.other_activities|prettify_list goals=conn.other_preferences.goals|prettify_list workoutTime=conn.other_preferences.preferred_workout_times|prettify_list %}
        {% endfor %}
      {% else %}
        <div class="card card-primary card-sm flex flex-col gap-3 userCard md:col-span-3 lg:col-start-2 xl:col-start-2 lg:col-span-2 xl:col-span-3">
          <p>No buddies yet. Search for a buddy and reach out to start a conversation.</p>
        </div>  
      {% endif %}

      </div>
    </div>


    <div class="card card-primary w-fit flex flex-col gap-6 items-center justify-center">
      <h2>Manage Your Account</h2>
      <div class="flex gap-4 justify-center items-center">
        <a class="btn btn-primary" href="profile">View Profile</a>
      </div>
    </div>

  </section>
</div>
{% endblock %}
