{% extends 'browsing/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
{% load static %}


<div class="container mx-auto">
  <section class="flex flex-col gap-8 items-center justify-center">

    <!-- ADD username of logged in user -->
    <h1>Welcome, {{ user.display_name }}!</h1>

    <!-- Most Recent Messages -->
    <div class="flex flex-col gap-6 card card-sm card-tertiary dark:card-primary text-center w-full max-w-6xl">
      <h2>Most Recent Messages</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-5">

        {% for conn in connections %}
        {% if conn.user_a == user %}
            <div class="card card-primary card-sm dark:card-tertiary flex flex-col">
              <p class="text-left font-bold text-lg">{{conn.user_b.display_name}}</p>
              <p class="text-left"><span class="font-semibold">Name: </span>Need most recent message</p>
              <p class="text-right italic text-sm">June 14, 2026 | 7:14 AM</p>
            </div>
          {% else %}
            <div class="card card-primary card-sm dark:card-tertiary flex flex-col">
              <p class="text-left font-bold text-lg">{{conn.user_a.display_name}}</p>
              <p class="text-left"><span class="font-semibold">Name: </span>Need most recent message</p>
              <p class="text-right italic text-sm">June 14, 2026 | 7:14 AM</p>
            </div>
          {% endif %}
        {% endfor %} 
        
        
      </div>
      <a class="btn btn-secondary mx-auto" href="chat">View All</a>
    </div>


    <!-- Start Activity Search -->
    <div class="flex flex-col gap-6 text-center w-full max-w-7xl">
      <h2>Start an Activity Search</h2>
      <div class="flex flex-col md:flex-row items-center justify-center">

        <div class="card card-primary card-sm">
          <h3>Gym</h3>
          <div class="flex items-center justify-center rounded-2xl bg-green-950 dark:bg-text-dark">
            <a href="#" class="m-3 flex items-center justify-center">
              <span class="material-symbols-outlined text-text-alt" style="font-size:48px;">fitness_center</span>
            </a>
          </div>
        </div>
      </div>
    </div>


    <!-- Buddies -->
    <div class="text-center flex flex-col gap-6 w-full max-w-7xl">
      <h2>Buddies</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        <!-- START: populate with messsages from database -->

        {% for conn in connections %}
            {% if conn.user_a == user %}
              {% include 'browsing/components/user_card.html' with name=conn.user_b.username username=conn.user_b.display_name activities="Gym" goals="Need connection to preferences" workoutTime="Need connection to preferences" %}
            {% else %}
              {% include 'browsing/components/user_card.html' with name=conn.user_a.username username=conn.user_a.display_name activities="Gym" goals="Need connection to preferences" workoutTime="Need connection to preferences" %}
            {% endif %}
        {% endfor %}        
        
    
      </div>
    </div>

    <div class="card card-primary w-fit flex flex-col gap-6 items-center justify-center">
      <h2>Manage Your Account</h2>
      <div class="flex gap-4 justify-center items-center">
        <a class="btn btn-primary" href="profile">View Profile</a>
      </div>
    </div>

  </section>
</div>
{% endblock %}
